
@media (max-width: 1200px){
    .navbar-toggler
    {
        color: #fff;
    }
    .slider
    {
        
        height: 500px;
        margin: 0;
    }
    .slider img{
        display: none !important;
    }
    .slider h1 
    {
        font-size: 20px !important;
    }
    .slider h2{
        font-size: 18px !important;
    }
    .slider p{
        font-size: 16px !important;
    }
}
@media (max-width: 1024px){

}
@media (max-width: 991px){


}
@media (max-width: 800px){
  
 
}
@media (max-width: 768px){
  
    .content {
        margin: 10px 0 0;
    }
    .info {
        float: right;
    }
    .offset-md-3 {
        margin-right:0 !important;
      }
}
@media (max-width: 480px){

}
@media (max-width: 360px){

}
@media (max-width: 320px){

}

.navside {
    z-index: 999999;
}
