@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* @font-face{

  font-family: 's360r';
  src:url('fonts/PFDinTextArabic-Regular.ttf');
}

@font-face{

  font-family: 's360b';
  src:url('fonts/PFDinTextArabic-Bold.ttf');
}
@font-face{

  font-family: 's360t';
  src:url('fonts/PFDinTextArabic-Thin.ttf');
} */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: auto;
  font-size: 14px;
  color: #666666;
  font-family: 's360r';
  vertical-align: baseline;
  line-height: 22px;
  font-weight: 400;
  direction: rtl;
  font-family: 'Tajawal', sans-serif;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-weight: 400 !important;
}

.gap-10 {
  width: 100%;
  height: 10px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}
h1, h2, h3, h4, h6, h5, b {
  font-family: 'Tajawal', sans-serif;
  font-weight: 300;
}
strong
{
  font-weight: bold;
}

a {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  outline: 0 none;
  color: #000;
  text-decoration: none;
}

ul {
  list-style: outside none none;
  margin: 15px;
  padding: 0;
  text-align:right;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(images/1.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

.top-header
{
  top: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background: #1f1f1f none repeat scroll 0 0;
}
.logo  , .logo:hover {
color: #fff;
font-size: 25px;
}
.justify-content-end
{
  justify-content:start !important;
}
.navbar-expand-lg .navbar-nav {
  padding: 10px 0 !important;
  margin: 10px 50px !important;
}

.navbar-expand-lg .navbar-nav li {
  padding: 0 10px;
}

.navbar-expand-lg .navbar-nav li a {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  display: block;
  line-height: 40px;
  padding: 0 5px;
  position: relative;
  letter-spacing: 0.40px;
}

.navbar-expand-lg .navbar-nav li a:after {
  background: #afafaf  none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  margin-top: -1px;
  -webkit-margin-before: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0;
}

.navbar-expand-lg .navbar-nav li a:hover, .navbar-expand-lg .navbar-nav li a.nav-link.active {
  color: #afafaf !important;
}

.navbar-expand-lg .navbar-nav li a:hover:after, .navbar-expand-lg .navbar-nav li a.nav-link.active:after {
  width: 100%;
}

.slider 
{
  margin: 85px 0 0;
}
.content , .contact-us
{
  margin:120px 0 0;
}
.owl-carousel {
  direction: ltr;
}
.slider img

{
  display: block;
  width:100%;
  position: relative;
  background-color: #bddbb7;
}
.slider
{
  width:100%;
  height:fit-content;
  position:static;
  background-color: #bddbb7;
}
.title
{
 top: 25%;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}
.description 

{
  right: 10%;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  position: absolute;
  top:50%;
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
  text-align: right;
  color:#fff;
}
.description2
{

  position: absolute;
  top: 30%;
  text-align: center;
  color: #fff;
} 
.description p , .description2 p
{
  font-size: 20px;
}
.slider h1 
{
    color:#fff;

}
.move 
{
  margin: 20px 0 ;

}
.experience 
{
  background: #9bae98;
  text-align: center;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}
.owl-nav {

}

.owl-carousel#sync1 .owl-dots {
  display: none !important;

}
.owl-theme .owl-controls .owl-nav [class*=owl-]

{
  background: #2b2c2f;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover
{
 background: #1f1f1f !important;
}
.info .text-right
{
  overflow: hidden;
}
#about h1  ,#services h1 , #price  h1 , #clean h1{
  color:#000;
  margin: 60px 0;
}
#about p , #price p{
  font-size: 20px;
  text-align: justify;
  line-height:28px;
}
#about ul  , #price ul
{
  list-style-type: circle;
  text-align: right;
  font-size: 16px;
  line-height: 36px;
}
#about img 
{
  height: 400px;
  width: 100%;
}
abouttImage
{
  overflow: hidden;
}
div#about {
  margin: 0 0 80px;
}
#services
{
  background-size: auto;
  padding: 40px 0;
  background: #eee;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
  -ms-box-shadow: 0 2px 5px rgba(0,0,0,.26);
  -o-box-shadow: 0 2px 5px rgba(0,0,0,.26);
  box-shadow: 0 2px 5px rgba(0,0,0,.26);

}


#services li 

{
  font-size: 18px;
  line-height: 45px;
  color: #1f1f1f;
}
#price 
{
  margin: 80px 0 ;
}
#clean p 
{
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}
#clean img 
{
  width: 100%;
  height: auto;
  margin: 40px 0 ;
}
.btn-primary {
  color: #fff !important ;
  background-color: #000000 !important ;
  border-color: #000000 !important ;
  padding: 10px 30px;
  font-size: 18px;
  margin: 10px;
}
.btn-primary:hover , .btn-primary:focus 
{
  border-color: #000000 !important ;
  background-color: #fff!important ;
  color: #000 !important;
}
.btn-primary:focus, .btn-primary.focus  ,.btn-primary:active {
  box-shadow: 0 0 0 0.2rem rgb(0, 0, 0) !important;
}
.info ul 
{
  display: flex
}
.info li 
{
  margin: 0 10px;
}
footer{
background: #000;
color: #fff;
margin: 0 0;
}
.copyright
{
  text-align: right;
  padding: 15px;
}
.copyright a , .copyright a :hover{
  color: #fff;
}
.info 
{
  float: right;
}
svg:not(:root).svg-inline--fa
{
  margin: 0 8px;
}
.navbar-expand-lg .navbar-nav li a:hover:after, .navbar-expand-lg .navbar-nav li a.nav-link.active:after
{
  width: 0 !important;
}
.btn-success , .btn-success:hover  {
  color: #fff;
  background-color: #000000;
  border-color: #060606;
  float: right;
  margin-bottom: 15px;
}
.offset-md-3 {
  margin-right: 25% !important;
}
.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

/*# sourceMappingURL=style.css.map */